<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MyTestSuite">

    <test name="AdminControllerTest">
        <classes>
            <class name="com.org.ecommerce.AdminControllerTest"/>
        </classes>
    </test>

    <test name="UserControllerTest">
        <classes>
            <class name="com.org.ecommerce.UserControllerTest"/>
        </classes>
    </test>
</suite>
