<!-- editModalFragment.html -->
<div class="modal-content" th:fragment="createProductForm (category)">
    <button onclick="closeCreateModal()" class="closeModal">X</button>
    <form id="createProductForm" method="POST" action="/admin/products/create">
       <label for="productName">Name</label>
       <input type="text" id="productName" name="name" />
       <label for="productPrice">Price</label>
       <input type="text" id="productPrice" name="price" />
       <label for="productDateAdded" name>Date Added</label>
       <input type="text" id="productDateAdded" name="dateAdded"/>
       <label for="productCategoryId">Category</label>
      <select id="category" name="categoryId" th:utext="${category}"></select>
      <button type="submit">send</button>    
    </form>    
 </div>
 