<!-- editModalFragment.html -->
<div class="modal-content" th:fragment="createProductForm (cusines)">
    <button onclick="closeCreateModal()" class="closeModal">X</button>
    <form id="createProductForm" method="POST" action="/admin/products/create">
       <label for="productName">Name</label>
       <input type="text" id="productName" name="name" />
       <label for="productPrice">Price</label>
       <input type="text" id="productPrice" name="price" />
       <label for="productDateAdded" name>Date Added</label>
       <input type="text" id="productDateAdded" name="dateAdded"/>
       <label for="productCasineId">Casine</label>
      <select id="cusines" name="cusines" th:utext="${cusines}"></select>
      <select id="productViewable" name="viewable">
        <option value=1>Show</option>
        <option value=0>Hide</option>
      </select>
      <button type="submit">send</button>    
    </form>    
 </div>
 