<!-- editModalFragment.html -->
<div class="modal-content" th:fragment="editProductForm (productId, productName, productPrice, productDateAdded, productCasineId, productViewable, cusines)">
   <button th:data-name="${p.getID()}" th:onclick="closeEditModal(this.getAttribute('data-name'))" class="closeModal">X</button>
   <form id="editProductForm" method="POST" action="/admin/products/update">
      <label for="productId">ID</label>
      <input type="hidden" id="productId" name="id" th:value="${productId}"/>
      <label for="productName">Name</label>
      <input type="text" id="productName" name="name" th:value="${productName}"/>
      <label for="productPrice">Price</label>
      <input type="text" id="productPrice" name="price" th:value="${productPrice}"/>
      <label for="productDateAdded">Date Added</label>
      <input type="text" id="productDateAdded" name="dateAdded"  th:value="${productDateAdded}"/>
      <label for="productCasineId">Casine ID</label>
      <select id="casine" name="casineId" th:utext="${cusines}"></select>
      <label for="productViewable">Viewable</label>
      <select id="productViewable" name="viewable" th:value="${productViewable}">
         <option value=1>Show</option>
         <option value=0>Hide</option>
      </select>
      <button type="submit">send</button>    
   </form>    
</div>
