<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <div class="content">
    <!-- Include the navbar fragment -->
    <div th:replace="fragments/sidebar"></div>
    <!-- Display flash messages if any -->
    <div th:if="${message}">
        <p th:text="${message}" style="color: red;"></p>
    </div>

    <!-- Your change password form -->
    <form th:action="@{/admin/password}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/><br>

        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword"  name="oldPassword" required/><br>

        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required/><br>

        <button type="submit">Change Password</button>
    </form>
    </div>
</body>
</html>