<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Product List</title>
</head>
<body>

<div class="content">
    <div th:replace="~{fragments/sidebar}"></div>
    <h1>Product List</h1>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Date Added</th>
                <th>Cusine ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Display products dynamically here using server-side logic -->
            <tr th:each="p : ${products}">
                <td th:text="${p.name}"></td>
                <td th:text="${p.price}"></td>
                <td th:text="${p.dateAdded}"></td>
                <td th:text="${p.cusineId}"></td>
                <td>
                    <button class="edit-btn" th:data-name="${p.getID()}" th:onclick="openEditModal(this.getAttribute('data-name'))">Edit</button>
                    <button class="delete-btn" th:data-name="${p.getID()}" th:onclick="openDeleteModal(this.getAttribute('data-name'))">Delete</button>
                </td>
                <!-- Modals for actions -->
                <div th:attr="dataId=${p.getID()}" class="modal">
                    <div th:replace="
                    ~{fragments/products/editProductModal 
                    :: editProductForm(
                        productId=${p.getID()},
                        productName=${p.name}, 
                        productPrice=${p.price}, 
                        productDateAdded=${p.dateAdded}, 
                        productCasineId=${p.cusineId},
                        productViewable=${p.viewable},
                        cusines=${cusines})}">
                    </div>
                </div>
                <div th:attr="dataid-delete=${p.getID()}" class="modal">
                    <div th:replace="
                    ~{fragments/products/deleteProductModal
                    :: deleteProductModal(
                        productId=${p.getID()},
                        productName=${p.name} )}">
                    </div>
                </div>
            </tr>
            <!-- Repeat for each product -->
        </tbody>
    </table>

    <button class="create-btn" onclick="openCreateModal()">Create</button>
</div>

<div id="createModal" class="modal">
    <div th:replace="~{fragments/products/createProductModal(cusines=${cusines})}">
    </div>
</div>
<script th:src="@{/js/modal.js}"></script>
</body>
</html>