<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <!-- Include the navbar fragment -->
    <div th:replace="fragments/topbarHome"></div>
    <div class="content">
        <div class="card-container">
            <!-- Iterate over the list of products -->
            <div th:each="product : ${products}">
                <div class="card">
                    <!-- Product Name -->
                    <h3 th:text="${product.name}"></h3>
                    <!-- Product Price -->
                    <p th:text="'Price: ' + ${product.price}"></p>
                    <p th:text="'Category ID: ' + ${product.categoryId}"></p>
                    <form method="post" th:action="@{/user/addToCart}">
                        <input type="hidden" th:name="productId" th:value="${product.getID()}" />
                        <input type="hidden" th:name="qty" th:value="1" />
                        <input type="hidden" th:name="userId" th:value="1" />
                        <input type="hidden" th:name="rate" th:value="1" />
                        <input type="hidden" th:name="price" th:value="${product.price}" />
                        <input type="hidden" th:name="purcahseId" th:value="0" />
                        <button type="submit">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
